{% load static%}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168142862-1"></script>
                 <script>
              window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());

                gtag('config', 'UA-168142862-1');
                </script>

        <script>history.scrollRestoration = "manual"</script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>NepliNews- A place for latest nepali news feeds</title>
        
         <script>
  window.watsonAssistantChatOptions = {
      integrationID: "04fda2fe-58d3-4831-9ac1-030408d954f7", // The ID of this integration.
      region: "us-south", // The region your integration is hosted in.
      serviceInstanceID: "0a482720-d19d-42c3-8140-bd8121024d78", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });
</script>
        
        <script type="application/ld+json">
    {
      "@context": "https://neplinews.com",
      "@type": "News Portal",
      "url": "https://www.neplinews.com",
      "logo": "https://www.neplinews.com/img/google.png"
    }
    </script>
    
        <meta name="description" content="Neplinews: Get updated news regarding COVID-19 and NEB exam from trusted news portal of the country.">
        <meta name="keywords" content="Neplinews,neplinews,corona updates,corona news,neb news,exam notice,exam news">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'aggregator/img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'aggregator/img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'aggregator/img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'aggregator/manifest.json' %}">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <meta name="robots" content="index,follow"/>

        <meta property="og:title" content="NepliNews" />
        <meta property="og:url" content="https://www.neplinews.com" />
        <meta property="og:description" content="Neplinews: Get updated news regarding COVID-19 and NEB exam from trusted news portal of the country." />
        <meta property="og:image" content="https://www.neplinews.com/img/thumbnail(1).png" />
        <meta property="og:type" content="article" />
        <meta property="og:site_name" content="NepliNews" />


        <link rel="stylesheet" href="{% static 'aggregator/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'aggregator/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'aggregator/css/main.css' %}">
        
        

        <script src="{% static 'aggregator/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body style="background-image: url(static/aggregator/img/covid-n.jpg);">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="nav">
          <div class="burger">
            <div class="burger__patty"></div>
          </div>

          <ul class="nav__list">
            <li class="nav__item">
              <a href="index.html" class="nav__link c-blue"><img src="{% static 'aggregator/img/home-icon.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="plus_two.html" class="nav__link c-yellow scrolly"><img src="{% static 'aggregator/img/about-icon.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="https://www.worldometers.info/coronavirus/?utm_campaign=homeAdUOA%3FSi" class="nav__link c-green" target="_blank"><img src="{% static 'aggregator/img/button-white.png' %}" width=60px
              height=55px alt=""></a>
            </li>
            <li class="nav__item">
              <a href="https://contact.neplinews.com/" class="nav__link c-green"  ><img src="{% static 'aggregator/img/contact-icon.png' %}" alt=""></a>
            </li>
          </ul>
        </nav>
        <!--
         <script data-cfasync="false">
        (function(W,i,s,e,P,o,p){W['WisePopsObject']=P;W[P]=W[P]||function(){(W[P].q=W[P].q||[]).push(arguments)},W[P].l=1*new Date();o=i.createElement(s),p=i.getElementsByTagName(s)[0];o.async=1;o.src=e;p.parentNode.insertBefore(o,p)})(window,document,'script','//loader.wisepops.com/get-loader.js?v=1&site=CWNDHUMXfy','wisepops');
        </script>
        -->
        
        
        <header>
            <a href="https://www.socheko.com/" target="_blank" >                      
            <img src="{% static 'aggregator/img/socheko.png' %}" alt=""  class="advert">
            </a>
            
        </header> 
        
        <section class="panel b-blue" id="1">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="home-content">
                      <div class="home-heading">
                        <h1><em>Your Daily Updates</em></h1>
                      </div>
                      <div class="heading">
                        <hr>
                        <h2 style="text-align:center;">Corona Updates</h2>
                        <hr>
                      </div>

                      <!--<script src="https://apps.elfsight.com/p/platform.js" defer></script>
                      <div class="elfsight-app-7fffd687-fb27-4663-b37d-81f35c70ab49">
                      </div>
                      -->
                      
                     <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                     <div class="elfsight-app-7fffd687-fb27-4663-b37d-81f35c70ab49"></div>
                     
                     
                     {% for article in articles%}
                     <!-- Start -->
                             <div class="row">
                               <div class="col-md-12">
                                 <div class="home-box-content">
                                   <div class="left-text">
                                       <!-- Source Here -->
                                     <h4>Source:{{ article.source }}</h4>
                                        <!-- Headline Here-->
                                     <h4>{{ article.title }}</h4>
                                       <div class="right-image">
                                           <!-- Image source Here, Copy the link of image and paste here-->
                                         <img src="{{ article.img_link }}" alt="" width="260" height="146">
                                       </div>
                                     </div>
                                       <!-- Summary of the news, usually first 2 lines-->
                                     <p style="text-align:left;">{{ article.content }}</p>
                                     <div class="primary-button">
                                         <!-- Link of the news Here-->
                                       <a href="{{ article.news_link }}"
                                       target="_blank" >Read More</a>
                                     </div>
                                   </div>
                               </div>
                             </div>
                     <!-- End -->
                     {% endfor %}

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>

        <p class='copyright'>© 2020, neplinews.com   <br> Contact: info@neplinews.com</p>
        <a id='footer'></a>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="staic/aggregator/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="{% static 'aggregator/js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static 'aggregator/js/plugins.js' %}"></script>
        <script src="{% static 'aggregator/js/main.js' %}"></script>

        <script>
window.addEventListener('load', e => {
    registerSW();
    function registerSW() { 
        if ('serviceWorker' in navigator) { 
            try {
                navigator.serviceWorker.register("{% static 'aggregator/sw.js'%}"); 
            } catch (e) {
                alert('ServiceWorker registration failed. Sorry about that.'); 
            }
        }
    }
});
</script>
        
       <script>
  window.watsonAssistantChatOptions = {
      integrationID: "04fda2fe-58d3-4831-9ac1-030408d954f7", // The ID of this integration.
      region: "us-south", // The region your integration is hosted in.
      serviceInstanceID: "0a482720-d19d-42c3-8140-bd8121024d78", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });
</script>

    </body>
</html>
